@charset "UTF-8";
@use "variables" as *;

// ---------------------------------------------
//  投稿記事WYSIWIG用
// ---------------------------------------------

.post_content {
  overflow: auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5em;
    font-weight: bold;

    &:not(:first-child) {
      margin-top: 1.5em;
    }
  }

  h1 {
    font-size: var(--fz30);
  }

  h2 {
    font-size: var(--fz25);
    border-bottom: solid 1px #000;
  }

  h3 {
    padding-left: 15px;
    font-size: var(--fz20);
    border-left: solid 5px #ccc;
  }

  h4 {
    font-size: var(--fz18);
  }

  p {
    margin-bottom: 1em;
  }

  ul {
    margin-bottom: 1.5em;

    li {
      margin-left: 1.5em;
      list-style: disc;
    }
  }

  ol {
    margin-bottom: 1.5em;

    li {
      margin-left: 1.5em;
      list-style: decimal;
    }
  }

  blockquote {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: #eee;

    *:last-child {
      margin-bottom: 0;
    }
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  a {
    text-decoration: underline;
  }

  code {
    font-family: monospace;
  }

  figure {
    width: fit-content;
    margin-bottom: 1em;

    figcaption {
      font-size: var(--fz12);
      text-align: center;
    }
  }
}
